# Core app
streamlit

# Data science & numeric
numpy
pandas
matplotlib
seaborn

# ML / NLP
scikit-learn
joblib
sentence-transformers

# LangChain + Generative AI
langchain
langchain-google-genai

# For reading/writing files, compatibility
python-dotenv==1.0.1
